header.masthead {
    min-height: 100vh;
}

.container {
    max-width: 800px;
    max-height: 1000px;
}

.no-wrap {
    white-space: nowrap;
}

.scroll {
    max-height: 300px;
}

@keyframes bobble {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(10px);
    }
}

.bobble-effect-10 {
    animation: bobble 10s infinite;
}


.bobble-effect-4 {
    animation: bobble 4s infinite;
}


.bobble-effect-6 {
    animation: bobble 6s infinite;
}


.bobble-effect-8 {
    animation: bobble 8s infinite;
}

span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}