<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/startbootstrap/css/styles.css"/>

    <link rel="stylesheet" href="/global.css"/>
    <link rel="stylesheet" href="/pages/login/styles.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand">Backend.Food</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-black align-content-center h-100">
        <div class="masthead-content">
            <div class="container main d-flex flex-column justify-content-center align-items-center bg-white rounded-5 p-4 p-md-5">
                <div class="text-center">
                    <h1>
                        Almost ready for the best food in town!
                    </h1>
                </div>
                <form class="w-100" action="/auth" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                    <div class="text-center text-danger">
                        <%= error === undefined ? '' : error %>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 gap-md-5">
                        <button type="submit" name="action" value="signup" class="btn btn-primary btn-xl rounded-pill">Sign Up</button>
                        <button type="submit" name="action" value="login" class="btn btn-primary btn-xl rounded-pill">Log In</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
        <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
        <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
        <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
    </header>
    <script type="module" src="/bootstrap_js/bootstrap.bundle.min.js"></script>
</body>
</html>