<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/startbootstrap/css/styles.css"/>

    <link rel="stylesheet" href="pages/login/styles.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand">Backend.Food</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-black align-content-center">
    <div class="masthead-content">
        <div class="container-sm d-flex justify-content-center flex-column bg-white rounded-5 p-5 overflow-y-auto">
            <div class="text-center">
                <h1>
                    Almost ready for the best food in town!
                </h1>
            </div>
            <div class="container-sm d-flex justify-content-center">
                <form action="/auth" method="POST" style="width: 100%; max-width: 400px;">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="pwd" placeholder="Password">
                    </div>
                    <div class="text-center text-danger">
                        <%= typeof error !== 'undefined' ? error : '' %>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" name="action" value="signup" class="btn btn-primary btn-xl rounded-pill me-4 mt-4">Sign Up</button>
                        <button type="submit" name="action" value="login" class="btn btn-primary btn-xl rounded-pill ms-4 mt-4">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
    <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
    <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
    <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
</header>
</body>
</html>