<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/bootstrap_css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/startbootstrap/css/styles.css"/>

    <link rel="stylesheet" href="/global.css"/>
    <link rel="stylesheet" href="/pages/userinfo/styles.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <a class="navbar-brand">Backend.Food</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item text-center"><a class="nav-link">User Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-black align-content-center h-100">
        <div class="masthead-content h-100">
            <div class="main h-100 w-100 container bg-white rounded-5 p-5 mb-4" >
                <div class="text-center w-100 mb-5">
                    <h2>
                        User Info
                    </h2>
                    <hr>
                </div>
                <div class="flex-grow-1 w-100 overflow-y-scroll no-wrap">
                    <% if (user === undefined) { %>
                        <div class="w-100 scroll">
                            <form class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center mb-3">
                                <div class="w-100 w-md-75 my-2 mx-5">
                                    <label for="email" class="form-label">User Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter User Email">
                                </div>
                                <button type="submit" class="btn btn-primary text-primary-emphasis text-bg-primary btn-lg rounded-pill">Fetch User</button>
                            </form>
                            <div class="w-100 text-center">
                                <button id="cancel" class="btn btn-primary text-primary-emphasis text-bg-primary btn-xl rounded-pill">Cancel</button>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="w-100 d-flex flex-column flex-md-row justify-content-evenly align-items-center p-3">
                            <div class="w-100 w-md-50 w-md-50 d-flex flex-column justify-content-evenly align-items-lg-baseline overflow-x-scroll no-wrap my-2 p-3">
                                <h3> <%= user.name %> </h3>
                                <h5> <%= user.email %> </h5>
                            </div>
                            <div class="w-100 w-md-50 d-flex justify-content-evenly overflow-x-scroll no-wrap my-2">
                                <% const auth = user.auth %>
                                <span class="p-2 rounded-2 text-center text-dark-emphasis text-bg-dark fw-bold ms-1 me-1">Customer</span>
                                <% if ((auth & 2) === 2) { %>
                                    <button onclick="toggleChef(this)" class="btn p-2 text-warning-emphasis text-bg-warning fw-bold ms-1 me-1">Chef</button>
                                <% } else { %>
                                    <button onclick="toggleChef(this)" class="btn p-2 text-warning fw-bold ms-1 me-1">Chef</button>
                                <% } %>
                                <% if ((auth & 4) === 4) { %>
                                    <span class="p-2 rounded-2 text-center text-success-emphasis text-bg-success fw-bold ms-1 me-1">Admin</span>
                                <% } else { %>
                                    <button onclick="setAdmin(this)" class="btn text-success fw-bold ms-1 me-1">Admin</button>
                                <% } %>
                            </div>
                        </div>
                        <div class="w-100 d-flex flex-column flex-sm-row justify-content-evenly align-items-center">
                            <button id="confirm" class="btn btn-primary btn-xl rounded-pill m-2">Confirm</button>
                            <button onclick="window.location.href = '/dashboard'" class="btn btn-primary btn-xl rounded-pill m-2">Cancel</button>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle bobble-effect-10"></div>
        <div class="bg-circle-2 bg-circle bobble-effect-8"></div>
        <div class="bg-circle-3 bg-circle bobble-effect-6"></div>
        <div class="bg-circle-4 bg-circle bobble-effect-4"></div>
    </header>
    <% if (user === undefined) { %>
        <script>
            const form = document.querySelector('form')
            const emailInput = document.getElementById('email')
        </script>
        <script>
            form.onsubmit = (e) => {
                e.preventDefault()

                const email = emailInput.value.trim()

                if(email)
                    window.location.href = `/admin/userinfo/${email}`
            }
        </script>
    <% } else { %>
        <script>
            let auth = <%- user.auth %>
            const prevAuth = auth

            const confirmButton = document.getElementById('confirm')
        </script>
        <script>
            function toggleChef(button) {
                auth = auth ^ 2

                if((auth & 2) === 2)
                    button.classList = 'btn p-2 text-warning-emphasis text-bg-warning fw-bold ms-1 me-1'
                else
                    button.classList = 'btn p-2 text-warning fw-bold ms-1 me-1'
            }

            function setAdmin(button) {
                auth = auth & 4
                button.classList = "btn text-success-emphasis text-bg-success fw-bold ms-1 me-1"
            }

            async function confirm() {
                if(prevAuth === auth)
                    return

                await fetch(`/admin/grant/<%- user.email %>`, {
                    method: `POST`,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        auth: auth
                    })
                })
            }
        </script>
        <script>
            confirmButton.onclick = async () => {
                await confirm()
                window.location.href = '/dashboard'
            }
        </script>
    <% } %>
    <script type="module" src="/bootstrap_js/bootstrap.bundle.min.js"></script>
</body>
</html>