header.masthead {
    min-height: 100vh;
}

.mt-6 {
    margin-top: 5rem;
}

@keyframes bobble {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(10px);
    }
}

.bobble-effect-10 {
    animation: bobble 10s infinite;
}


.bobble-effect-4 {
    animation: bobble 4s infinite;
}


.bobble-effect-6 {
    animation: bobble 6s infinite;
}


.bobble-effect-8 {
    animation: bobble 8s infinite;
}